/* All of YOUR styles go here. They take effect after those in the normalize CSS file, but will overwrite anything that conflicts. */

dt {
	font-size: 0.8em;
	font-weight: bolder;
}

dd {
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom: 15px;
}